@import "./default";
@import "./loading";
.container {
  .nav-left {
    min-width: 180px;
    height: calc(100vh);
    background: #001529;
  }

  .main {
    background: @colorL;
  }
  .content {
    padding: 20px 20px 0 20px;
    position: relative;
  }
}
.clearfix{
  &:after{
    content:" ";
    clear:both;
    display:block;
    visibility:hidden;
  }
}
.content-wrap {
  background: #ffffff;

}
ul,li {
  list-style:none;
}
